body{
    /* background-image: url(./images/welcomeImg.png); */
    margin-left: 150px;
}
.img{
   width: 500px;
    position: absolute;
    top: 0;
    right: 0;
   
}
.userGrid{
    display: block;
    gap: 16px;
    margin-left: 150px;

  /* padding-bottom: 60px; */
  text-align: center;
}
.btn{
     border: 1.5px solid #10a37f;
       color: #10a37f;
       background: transparent;
       padding: 10px 20px;
     /* border-radius: 50%; */
     font-weight: 600;
      cursor: pointer;
      transition: all 0.3s ease;
    

}
.explore{
  padding-left: 400px;
  
}
 .btn:hover {
      background: #10a37f;
      color: white;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transform: translateY(-2px);
    }
   .card {
      /* background: #fdfafa;
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      padding: 20px;
      border: 4px solid #faeded;
      flex: 1 1 calc(70% - 20px);            
     max-width: 500px;
      margin-left: 40px;
      display: flex;
      flex-direction: column;        */
      /* margin-left: 150px; */
      gap: 20px;
      align-items: center;
      text-align: center;
      margin-top: 60px;
      background-color: aliceblue;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      
    }
   .icon {
      font-size: 2.2rem;
      margin-bottom: 12px;
      max-width: 60px;
      padding-right: 400px;
    }
    .feature-section {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 20px;  
       max-width: 1000px;           
           
    }
    .application-section {
      margin-bottom: 20px;
     
    }
    .app-category {
      margin-top: 10px;
      
    }
      .app-category h3 {
      margin-bottom: 5px;
      color: #555;
      font-size: 1rem;
    }
 .app-category ul {
      list-style: none;
      padding: 0;
      margin: 0 0 10px 0;
    }
     .app-category li {
      font-size: 0.95rem;
      padding: 4px 0;
      /* color: #333; */
    }
    .zaf-ios{
      border-radius: 15px;
      
    }

    .footer{
      display: grid;
      grid-template-columns: 2fr 2fr;  
      
    }
    .i{
        border: 1.5px solid #10a37f;
       color: #10a37f;
       background: transparent;
       padding: 10px 20px;
    margin-bottom: 20px;
    max-width: 200px;
    }
    .ij{

        border: 1.5px solid #10a37f;
       color: #10a37f;
       background: transparent;
       padding: 10px 20px;
         max-width: 200px;
       margin-bottom: 20px;
         margin-right: 890px;
         padding-right: 200px;
         text-align: center;
         align-items: center;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
      
    }
/* .zaf-info{
  padding-right: 50px;
  width: 30px;
} */